/* Marcador de posición
   =========== */
#claims {
    background-color: var(--tertiary-color);
}

#container-form {
    width: 620px;
}

#group-description {
    grid-column: 1/3;
}

.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.file-element {
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 9px;
}