@import 'components/search.css';
@import 'components/form_elements/filter.css';
@import 'components/table.css';
@import 'components/form_elements/checkbox.css';
@import 'components/context_menu.css';
@import 'components/form_elements/input_dropdown.css';

/* Marcador de posición
   =========== */
#dashboard {
    background-color: var(--tertiary-color);
}

/* 1. Contenido principal
   ====================================================== */
.main {
    display: grid;

    max-height: 1820px;

    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: min-content 1fr;
}

/* 2. Sección de cotizaciones recientes
   ====================================================== */
.recent {
    display: flex;
    flex-direction: column;

    grid-row: 1/3;
}

/* Encabezado de la sección de cotizaciones recientes
   =========== */
.header-recent {
    display: flex;
    align-items: center;

    user-select: none;

    gap: 25px;
}

.title-header-recent {
    margin: 0;

    font-size: var(--primary-font-size);
    font-weight: 500;
}

/* Sombra para filtros de la sección de cotizaciones recientes
   =========== */
.filter {
    box-shadow: var(--primary-box-shadow);
}

/* Tabla de datos --> contenedor App
 * --> Evita el desborde del scrollbar del contenedor de la tabla de datos
   =========== */
.table-container {
    padding-top: 25px;

    border-radius: 30px;
    background: var(--secondary-color);
    box-shadow: var(--quaternary-box-shadow);
}

/* Tabla
   =========== */
#table {
    min-width: 650px;
}

/* 3. Sección de totales
   ====================================================== */
.totals {
    display: inline-flex;
    align-items: center;

    position: relative;

    margin-top: 77px;
    padding: 20px;

    border-radius: 30px;
    background: var(--secondary-color);
    box-shadow: var(--quaternary-box-shadow);

    user-select: none;

    gap: 20px;
}

/* Sección de totales -> Resumen y pólizas
   =========== */
.summary,
.policies {
    display: flex;

    height: 100%;
}

/* Sección de totales -> Resumen
   =========== */
.summary {
    flex: .3;
    flex-direction: column;

    gap: 8px;
}

/* Items de la sección de resumen
   =========== */
.item-data-summary {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;

    position: relative;

    padding: 7px 15px;

    border-radius: 14px;
    background-color: var(--primary-color);

    gap: 12px;
}

.item-data-summary .title {
    left: inherit;
    right: calc(100% + 12px);
}

.item-data-summary .title::before {
    left: 100%;
    border-color: transparent transparent transparent var(--tertiary-color);
}

.item-data-summary:hover > .title {
    visibility: visible;

    opacity: 1;

    transition: transform 1s, opacity 100ms ease-out 450ms;
    transform: translateY(0);
}

/* Separador para sección de totales
   =========== */
.vertical-separator {
    width: 2px;
    height: 85%;

    background-color: var(--tertiary-color);
}

/* Sección de totales -> Pólizas
   =========== */
.policies {
    flex-grow: .7;
    flex-wrap: wrap;

    position: relative;

    gap: 20px;
}

.header-policies {
    display: flex;
    justify-content: center;

    position: absolute;
    z-index: -1;
    top: -40px;

    width: calc(100% - 20px);
    height: 20px;
    margin: 0 10px;

    border-radius: 20px 20px 0 0;
    background-color: var(--tertiary-color);
}

.title-header-policies {
    position: absolute;
    bottom: 0;

    margin: 0;
    padding: 14px 10px 10px 10px;

    color: var(--secondary-color);
    border-radius: 20px 20px 0 0;
    background-color: var(--primary-color);

    font-size: var(--tertiary-font-size);
    font-weight: 500;
}

/* Items de la sección de pólizas
   =========== */
.item-data-policies {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;

    color: var(--secondary-color);
    border-radius: 14px;
    background-color: var(--tertiary-color);

    text-align: center;
}

/* Titulo de item de la sección de pólizas
   =========== */
.title-item-data-right {
    flex-basis: 36px;
}

/* Total del item de la sección de pólizas
   =========== */
.total-right {
    width: 48px;
    padding: 5px 10px;

    border-radius: 7px;
    background-color: var(--primary-color);
}

/* 3. Sección de estadísticas
   ====================================================== */
.statistics {
    display: flex;

    user-select: none;

    gap: 20px;
}

/* 3.1 Sección de insurances
   ====================================================== */
.insurance {
    flex: 1;

    position: relative;

    margin: 0 14px;

    border-radius: 30px;
    background: var(--secondary-color);
    box-shadow: var(--quaternary-box-shadow);
}

.header-insurance {
    position: absolute;
    top: 15px;
    left: -14px;

    width: calc(100% + 28px);

    border-radius: 30px;
    background-color: var(--primary-color);

    text-align: center;
}

.title-header-insurance {
    color: var(--secondary-color);

    font-size: var(--quaternary-font-size);
    font-weight: 500;
}

.icons-insurance {
    display: inline-flex;

    margin-bottom: 20px;

    gap: 20px;
}

.icon-insurance {
    display: flex;

    padding: 8px;

    border-radius: 10px;
    background-color: var(--secondary-color);
    box-shadow: var(--primary-box-shadow);
}

/* 3.2 Sección de insurers
   ====================================================== */
.insurers {
    flex: 1;

    border-radius: 30px;
    background-color: var(--primary-color);
    box-shadow: var(--quaternary-box-shadow);
}
