<link href="resources/css/email/access_request.css" rel="stylesheet">
<main class="main">
    <div class="card">
        <div class="title">
            <header class="header">
                <img alt="" class="logo" src="resources/icons/message/logo.png">
                <h1 class="title-header">Solicitud de acceso</h1>
            </header>
            <p class="description">
                Ha recibido una solicitud de registro de nuevo usuario,
                una cuenta de usuario tiene acceso a información detallada
                del sistema y de la empresa.
            </p>
        </div>
        <section>
            <header class="header-data">
                <h2 class="title-header-data">Datos del usuario</h2>
            </header>
            <table class="data-user">
                <tbody>
                <tr>
                    <th class="th" scope="row">Nombre</th>
                    <td class="td" id="nombre">Juan Sebastian Alarcón Diaz</td>
                </tr>
                <tr>
                    <th class="th" scope="row">Documento</th>
                    <td class="td" id="no-documento">1016944859</td>
                </tr>
                <tr>
                    <th class="th" scope="row">Email</th>
                    <td class="td" id="email">juan.alarcon22@misena.edu.co</td>
                </tr>
                </tbody>
            </table>
        </section>
        <div class="decision">
            <span class="question">¿Desea autorizar el acceso?</span>
            <div class="response">
                <a class="quinary-button a-button button-is-red" href="">Aceptar</a>
                <a class="quinary-button a-button button-is-black" href="">Denegar</a>
            </div>
        </div>
    </div>
</main>