/* =========== Estilos para plantilla App =========== */
@import 'general.css';
@import '../modal.css';
@import '../scrollbar.css';

/* 1. Contenedor principal
   ====================================================== */
.container {
    display: flex;
}

/* 2. Encabezado
   ====================================================== */
.header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;

    height: 82px;
    margin-left: 54px;
    padding: 0 50px 0 17px;

    background: var(--quinary-color);

    user-select: none;
    transition: margin-left 300ms;
}

/* Desplazar encabezado cuando sidebar este activo
   =========== */
.is-header-active {
    margin-left: 197px;
}

/* Contenedores de botones
   =========== */
.group {
    display: flex;
    align-items: center;

    gap: 20px;
}

/* Icono menu
   =========== */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--tertiary-image-size);
    height: var(--tertiary-image-size);

    border-radius: 50%;

    cursor: pointer;
    transition: linear 80ms, transform 300ms;
}

.menu:hover {
    background-color: var(--quaternary-color);
}

/* Secciones -> perfil y notificaciones
   =========== */
.notifications,
.profile {
    position: relative;
}

/* Contenedores de iconos -> campana de notificaciones y foto de perfil
   =========== */
.container-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;
    background-color: var(--secondary-color);
    box-shadow: var(--primary-box-shadow);

    cursor: pointer;
    transition: box-shadow 300ms;
}

#container-icon-notifications {
    background-color: var(--primary-color);
}

.container-icon,
.icon-profile {
    width: var(--tertiary-image-size);
    height: var(--tertiary-image-size);
}

.icon-profile {
    border-radius: 50%;
}

.container-icon:hover {
    box-shadow: var(--secondary-box-shadow);
}

/* 3. Barra de navegación lateral
   ====================================================== */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    z-index: 4;

    width: 54px;
    height: 100%;
    padding: 23px 7px;

    background-color: var(--primary-color);

    user-select: none;
    transition: width 300ms;
}

/* Despliegue de barra de navegación
   =========== */
.is-sidebar-active {
    width: 180px;
}

/* Listas de barra de navegación
   =========== */
.sidebar-group {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;

    gap: 10px;
}

/* Contenedor de enlace de navegación (Elemento de lista)
   =========== */
.container-icon-sidebar {
    display: flex;
}

/* Enlaces
   =========== */
.container-logo {
    margin: 0 0 20px 4px;
}

.icon-sidebar {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 8px;

    color: var(--secondary-color);
    border-radius: 9px;

    font-size: var(--quinary-font-size);

    cursor: pointer;
    transition: background-color 300ms;
    white-space: nowrap;
    text-decoration: none;

    gap: 18px;
}

/* Enlace tipo button -> abre modal
   =========== */
.icon-sidebar-button {
    border: none;
    background-color: transparent;
}

.icon-sidebar:hover {
    background-color: var(--tertiary-color);
}

/* Icono del enlace
   =========== */
.logo {
    width: var(--secondary-image-size);
    height: var(--secondary-image-size);
}

.icon {
    width: var(--primary-image-size);
    height: var(--primary-image-size);
}

/* Icono de configuración -> Activo
   =========== */
.is-settings-active {
    transform: rotate(360deg);
}

/* Icono de configuración -> Inactivo
   =========== */
.is-settings-inactive {
    transform: rotate(0deg);
}

.is-settings-active,
.is-settings-inactive {
    transition: transform 700ms;
}

/* Titulo del enlace
   =========== */
.title {
    visibility: hidden;

    position: absolute;
    z-index: 3;
    left: 55px;

    padding: 8px;

    opacity: 0;
    color: var(--quaternary-color);
    border-radius: 6px;
    background-color: var(--tertiary-color);

    line-height: 1;

    transform: translateY(80%);
    white-space: nowrap;
}

.title::before {
    position: absolute;
    top: 50%;
    right: 100%;

    margin-top: -6px;

    border: 6px solid;
    border-color: transparent var(--tertiary-color) transparent transparent;

    content: '';
}

.sidebar:not(.is-sidebar-active) .icon-sidebar:hover ~ .title {
    visibility: visible;

    opacity: 1;

    transition: transform 1s, opacity 100ms ease-out 450ms;
    transform: translateY(4px);
}

/* 4. Modales
   ====================================================== */
.settings-modal,
.profile-modal {
    padding: 20px;
}

.settings-modal,
.profile-modal,
.notifications-modal {
    box-shadow: var(--tertiary-box-shadow);
}

/* Item de modal
   =========== */
.link-modal {
    padding: 3px;
}

.container-message .link-modal ~ .link-modal,
.settings-modal .link-modal,
.profile-modal .hr ~ .link-modal {
    margin-top: 10px;
}

.link-modal:not(.message-notification) {
    gap: 12px;
}

/* Contenedor icono de modales
   =========== */
.container-modal-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--tertiary-image-size);
    height: var(--tertiary-image-size);

    border-radius: 50%;
    background-color: var(--primary-color);
}

/* Titulo modal de configuración y modal de notificaciones
   =========== */
.title-settings-modal,
.title-notifications-modal {
    font-size: var(--tertiary-font-size);
    font-weight: 500;
}

/* Modal de configuración
   =========== */
.settings-modal {
    bottom: 42px;
    left: calc(100% + 17px);

    width: 285px;
}

/* Titulo de modal de configuración
   =========== */
.title-settings-modal {
    margin: 0;
}

/* Modal de notificaciones
   =========== */
.notifications-modal {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    top: 58px;
    right: -5px;

    width: 340px;
    max-height: 600px;
}

.title-notifications-modal {
    margin: 20px 22px 10px 22px;
}

/* Contenedor de mensajes de notificaciones
   =========== */
.container-message {
    overflow: hidden scroll;

    padding: 0 14px 20px 22px;
}

/* Mensaje del modal de notificaciones
   =========== */
.message-notification {
    justify-content: space-between;

    padding: 15px;
}

.message {
    display: flex;
    flex-direction: column;
}

/* Texto de la notificación
   =========== */
.person-being-reported {
    font-weight: bold;
}

.message-content {
    margin-left: 12px;
}

/* Indicador de nueva notificación
   =========== */
.indicator {
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: var(--primary-color);
}

/* Modal de perfil
   =========== */
.profile-modal {
    top: 60px;
    right: -5px;

    width: 265px;
}

/* Foto de perfil
   =========== */
.profile1 {
    width: var(--quaternary-image-size);
    height: var(--quaternary-image-size);
}

/* Información modal de perfil
   =========== */
.info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: var(--quaternary-font-size);
    font-weight: bold;
}

/* Separador modal de perfil
   =========== */
.hr {
    width: 100%;

    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    background-color: var(--tertiary-color);
}

/* 5. Contenido principal
   ====================================================== */
.main {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 100%;
    min-height: 100vh;
    padding: 82px 50px 20px 71px;

    transition: padding-left 300ms;

    gap: 40px;
}

/* Desplazar content principal cuando sidebar este activo
   =========== */
.is-main-active {
    padding-left: 197px;
}
