/* =========== Estilos para plantilla del contenido principal =========== */
@import 'header_content.css';
@import '../form_elements/filter.css';
@import '../form_elements/checkbox.css';
@import '../table.css';
@import '../context_menu.css';
@import '../../new_modal.css';
@import '../form_elements/date.css';
@import "../alert_request.css";

/* 1. Contenedor de datos
   ====================================================== */
.data-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: 1820px;
    margin: 0 30px 30px 0;

    border-radius: 30px;
    background-color: var(--secondary-color);
    box-shadow: var(--quaternary-box-shadow), 35px 35px 0 0 var(--secondary-color),
    34px 34px 10px 0 rgb(171 158 149 / 15%);
}