/* 2. Alerta de solicitud
   ====================================================== */
.alert-request {
    width: 305px;
    padding: 15px;
    background: var(--primary-color);
    border-radius: 9px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    z-index: 4;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    box-shadow: var(--secondary-box-shadow);
    transition: visibility 300ms linear, opacity 300ms linear;
}

/* Load de respuesta de la solicitud
   =========== */
.alert-request::before {
    content: '';
    height: 7px;
    bottom: 0;
    width: 0;
    left: 0;
    position: absolute;
    background-color: var(--tertiary-color);
}

/* Alerta de solicitud visible
   =========== */
.is-alert-request-visible {
    visibility: visible;
    opacity: 1;
}

.is-alert-request-visible::before {
    animation: progress 3s linear;
}

@keyframes progress {
    from{ width: 100%;}
    to{ width: 0;}
}