/* =========== Estilos para inputs y componentes desplegables =========== */

/* Contenedor de input y su advertencia
   =========== */
.group-input {
    position: relative;
    font-size: var(--quinary-font-size);
}

/* Alerta de input
   =========== */
.alert {
    font-size: var(--senary-font-size);
    color: var(--primary-color);
}

/* Labels de inputs
   =========== */
.label {
    left: 15px;
    position: absolute;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: var(--secondary-color);
}

label.label {
    cursor: text;
}

textarea.input + .label {
    height: fit-content;
    bottom: 91px;
}

.input:disabled + .label {
    color: var(--secondary-color);
    background-color: transparent;
}

.label:not(.select .label ~ .label),
.is-label-selected-active {
    padding: 3px;
}

/* Opción seleccionada
   =========== */
.is-label-selected-active {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Label de input -> Activo
   =========== */
.input:not(div):focus + .label,
.is-label-active {
    border-radius: 3px;
    top: 0;
    transform: translate(-8px, -50%) scale(0.9);
}

.fieldset:not(.info-profile .fieldset) .is-label-active:not(.input:disabled + .is-label-active),
.fieldset .input:not(div):focus + .label {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(243, 243, 244, 1) 100%);
}

.input:disabled + .is-label-active {
    background: rgb(237 28 36 / 90%);
}

/* Input para llenar datos del formulario
   =========== */
.input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: none;
    outline: 1px solid var(--quaternary-color);
    border-radius: 17px;
}

.input:disabled {
    color: var(--secondary-color);
    background-color: rgb(237 28 36 / 90%);
}

textarea.input {
    height: 127px;
    padding: 17px 15px;
    resize: none;
}

.input:-webkit-autofill {
    box-shadow: 0 0 0 40px var(--secondary-color) inset;
}

.input:focus {
    outline: 1px solid var(--tertiary-color);
}

/* Icono de alerta de input
   =========== */
.icon-alert {
    background-image: url('../../../icons/buttons/warning.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
}

/* Alineación texto inputs
   =========== */
.inputs,
.select {
    display: flex;
    align-items: center;
    position: relative;
}

.select {
    justify-content: flex-end;
    cursor: pointer;
    background-color: var(--secondary-color);
}

/* Contenedor de opciones de inputs tipo select -> evita desborde de scrollbar
   =========== */
.data-option {
    min-width: 100%;
    width: max-content;
    overflow: hidden;
    top: 110%;
    box-shadow: var(--primary-box-shadow);
}

/* Contenedor de opciones de inputs tipo select
   =========== */
.content {
    margin: 0;
    overflow: hidden auto;
}

.content:not(#fecha-filter-content, #fecha-nacimiento-select .content) {
    padding: 0;
    max-height: 245px;
}

#fecha-nacimiento-select .content,
#fecha-filter-content {
    padding: 10px;
}

#fecha-filter-content {
    display: flex;
    gap: 15px;
}

/* Opciones de tipo select
   =========== */
.option,
.content li {
    list-style: none;
}

.option,
.content li .label-checkbox {
    padding: 10px 20px;
}

.option {
    cursor: pointer;
    transition: background-color 300ms;
}

.option:hover,
.content li .label-checkbox:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/*Contenedor input tipo file*/
.container-file {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

/* Input tipo file
   =========== */
.file {
    display: none;
}

/* Nombre de archivo seleccionado
   =========== */
.filename {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
    max-height: 38px;
    white-space: nowrap;
}

/* Label de input tipo file -> Representa el tipo file (se oculta el verdadero)
   =========== */
.label-file {
    height: max-content;
    align-self: center;
    width: max-content;
    white-space: nowrap;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.pop-filename {
    left: 124px;
    width: max-content;
    transform: translateY(0);
    max-width: 278px;
    transition: opacity 100ms, transform 600ms;
    white-space: break-spaces;
}

.pop-filename::before {
    top: calc(100% + 6px);
    left: 20px;

    border-color: var(--tertiary-color) transparent transparent transparent;
}

.filename:hover ~ .pop-filename, .pop-filename:hover {
    visibility: visible;

    opacity: 1;

    transform: translateY(-100%);
}